<!DOCTYPE html>
<html>
  <head>
    <title>Play MadLibs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Play MadLibs!</h1>
    <h3>Fill in the blanks and submit to receive a silly story.</h3>
    <form action="/" method="post">
     <label for="character">Character's Name</label>
     <input id="character" name="character" type="text">
     <button type="submit">Get a silly story!</button>
    </form>
  </body>
</html>