<!DOCTYPE html>
<html>
  <head>
    <title>Play MadLibs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Play MadLibs!</h1>
    <h3>Fill in the blanks and submit to receive a silly story.</h3>
    <form action="/" method="post">
     <label for="character">A character's Name</label>
     <input id="character" name="character" type="text">
     <label for="typeOfPlace">A type of place</label>
     <input id="typeOfPlace" name="typeOfPlace" type="text">
     <label for="destination">A destination</label>
     <input id="destination" name="destination" type="text">
     <label for="aProblem">A problem (past tense)</label>
     <input id="aProblem" name="aProblem" type="text">
     <label for="adjective1">An adjective</label>
     <input id="adjective1" name="adjective1" type="text">
     <label for="adjective2">Another adjective</label>
     <input id="adjective2" name="adjective2" type="text">
     <label for="activityOrAction">An activity or nactio (past tense)</label>
     <input id="activityOrAction" name="activityOrAction" type="text">
     <label for="situationalOutcome">A situational outcome (past tense)</label>
     <input id="situationalOutcome" name="situationalOutcome" type="text">
     <button type="submit">Get a silly story!</button>
    </form>
  </body>
</html>