<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>CHARACTER takes a trip</h1>
    <p>Once upon a time, CHARACTER lived in an old and smelly TYPE OF PLACE. They wanted to go somewhere exciting, so they planned a trip to PLACE TO TRAVEL.</p>
    <p>But then, PROBLEM. CHARACTER was very ADJECTIVE1 and ADJECTIVE2. They had to do something! So they ACTIVITY OR ACTION. After they did this, RESULT.</p>
    <p>And CHARACTER lived happily ever after.</p>
  </body>
</html>